name: Secure Bank App CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    name: Build Application
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Build Docker image
        run: docker build -t bank-app .

  test:
    name: Run Tests
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - run: npm install
      - name: Run basic test
        run: npm test || echo "No tests yet"

  dependency-scan:
    name: Dependency Security Scan (Snyk)
    runs-on: ubuntu-latest
    needs: test

    steps:
      - uses: actions/checkout@v4
      - name: Install Snyk
        run: npm install -g snyk

      - name: Authenticate Snyk
        run: snyk auth ${{ secrets.SNYK_TOKEN }}

      - name: Run Snyk Scan
        run: snyk test || true

  image-scan:
    name: Docker Image Scan (Trivy)
    runs-on: ubuntu-latest
    needs: dependency-scan

    steps:
      - uses: actions/checkout@v4
      - name: Build Docker image
        run: docker build -t bank-app .

      - name: Scan Docker image with Trivy
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: bank-app
          severity: HIGH,CRITICAL
          exit-code: 0

  deploy:
    name: Deploy (Render / Docker Ready)
    runs-on: ubuntu-latest
    needs: image-scan 

    steps:
      - name: Deployment placeholder
        run: echo "Deployment step completed"
