name: Secure CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  ci-cd:
    runs-on: ubuntu-latest

    steps:
    # ======================
    # 1️⃣ BUILD
    # ======================
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 18

    - name: Install dependencies
      run: npm install

    # ======================
    # 2️⃣ TEST
    # ======================
    - name: Run application check
      run: node server.js & sleep 5

    # ======================
    # 3️⃣ SCAN
    # ======================
    - name: Dependency vulnerability scan (npm audit)
      run: npm audit --audit-level=high

    - name: Trivy filesystem scan (APPLICATION ONLY)
      uses: aquasecurity/trivy-action@master
      with:
        scan-type: fs
        scan-ref: .
        severity: HIGH,CRITICAL
        exit-code: 1

    # ======================
    # 4️⃣ DEPLOY
    # ======================
    - name: Deployment stage
      run: echo "All security checks passed. Deployment allowed."
