name: Secure CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:

  build:
    name: Build Application
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Run application build check
        run: node server.js &
        

  dependency-scan:
    name: Dependency Security Scan (Snyk)
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/checkout@v4

      - name: Install Snyk
        run: npm install -g snyk

      - name: Authenticate Snyk
        run: snyk auth ${{ secrets.SNYK_TOKEN }}

      - name: Run Snyk Scan
        run: snyk test
        continue-on-error: true


  image-scan:
    name: Container Image Scan (Trivy)
    runs-on: ubuntu-latest
    needs: dependency-scan

    steps:
      - uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t bank-app .

      - name: Run Trivy scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: bank-app
          severity: HIGH,CRITICAL
          exit-code: 0


  dynamic-scan:
    name: Dynamic Scan (OWASP ZAP)
    runs-on: ubuntu-latest
    needs: image-scan

    steps:
      - name: OWASP ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.11.0
        with:
          target: http://example.com
